ul,
li {
    list-style: none;
}

.label-1 {
  background: rgba(92, 184, 92, 0.2);
}

.label-2 {
  background: rgba(92, 184, 92, 0.5);
}

.label-3 {
  background: rgba(92, 184, 92, 1);
}

.score {
    background-color: #4e5d6c;
}

.score .header {
    background-color: #485563;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-size: 30pt;
    border: solid 10px #485563;
}

.score .sum {
    font-size: 50pt;
    text-align: center;
}

.score .table {
    margin: 0;
}

.table-container{
    display: flex;
    flex-direction: column-reverse;
    background-color: #485563;
}

.score .table ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.score .table li {
    font-size: 20pt;
    flex-basis: 25%;
    text-align: center;
    box-sizing: border-box;
    border-right: 10px solid #485563;
}

.big {
    font-size: 35pt !important;
}

.label-out {
    background-color: #2e2d4c;
    text-decoration: line-through;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
  display: flex;
}

.player {
  flex: 1;
  margin-left: 10px;
}

.current {
  border-color: rgba(92, 184, 92, 1) !important;
}

.round {
  width: 100%;
  background: #485563;
  margin-bottom: 10px;
}

.round ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.round ul li {
  flex: 1;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  margin-left: 10px;
}
